body, html {
  height: 100%;
  background-image: url("../img/backmack.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(146, 20, 20);
  color: white;
  text-align: center;
}